:root{
    --scale:32px;
}
*{
    margin:0;
}
body{
    background-color: beige;
    background:url("../img/grid.png");
    background-size: var(--scale) var(--scale);
    background-repeat: repeat;
}
#person{
    height: var(--scale);
    width: 30px;
    background: url('../img/detective.png') var(--scale) 0px;
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    z-index: 5;
}
.furniture{
    position: absolute;
    background-repeat: no-repeat;
    z-index: 2;
}
.smallTable{
    height: var(--scale);
    width: var(--scale);
    background: url('../img/furniture1.png') -4px -4px;
}
.sofaFront{
    height: 40px;/*var(--scale);*/
    width: 64px;/*var(--scale)*2;*/
    background: url('../img/furniture1.png') -102px -189px;
}
#smallTable_1{
    left: calc(var(--scale)*1);
    top: calc(var(--scale)*3);
}
#sofaFront_1{
    left: calc(var(--scale)*3);
    top: calc(var(--scale)*5);
}
